<!DOCTYPE html>
<html lang="en">

<head>
    <title>LÖVEBrew: Bundle Your Game</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/favicon.ico') }}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-pink.min.css" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/creator.css') }}">

    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://kit.fontawesome.com/d61bd32107.js" crossorigin="anonymous"></script>

    <script src="{{url_for('static', filename='javascript/creator.js')}}"></script>
</head>

<body>
    <footer id="top">
        <button id="return-home" class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect">
            <i class="material-icons">home</i>
            <span class="mdl-chip__text">Go Home</span>
        </button>
    </footer>
    <div class="content" id="creator-form">
        <form action="#">
            <div id="step-1" class="step current">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="app_title">
                    <label class="mdl-textfield__label" for="app_title">Title</label>
                </div>
                <br>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="app_description">
                    <label class="mdl-textfield__label" for="app_description">Description</label>
                </div>
                <br>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="app_version">
                    <label class="mdl-textfield__label" for="app_version">Version</label>
                </div>
                <br>
                <button id="next_step" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">chevron_right</i>
                    <span class="mdl-chip__text">Next</span>
                </button>
            </div>
        </form>
    </div>
    <footer id="bottom">
        <span>
            <i class="fa-solid fa-flask"></i>
            <a href="https://github.com/lovebrew/lovepotion">LÖVE Potion</a>
        </span>
        <span class="spacer">&bull;</span>
        <span>
            <i class="fa-brands fa-github"></i>
            <a href="https://github.com/lovebrew/lovebrew-webserver">Source Code</a>
        </span>
        <span class="spacer">&bull;</span>
        <span>
            <i class="fa-brands fa-paypal"></i>
            <a href="https://paypal.me/TurtleP?country.x=US&locale.x=en_US">Donate</a>
        </span>
        <span class="spacer">&bull;</span>
        <span>
            <i class="fa-regular fa-copyright" id="copyright"></i>
            <span for="copyright">LÖVEBrew Team</span>
        </span>
    </footer>
</body>

</html>
